.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.reset-game {
  text-align: center;
      border: none;
      padding: 0.6em 1.2em;
      background: #ed4e6e;
      color: #fff;
      font-size: 1em;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      display: inline-block;
      margin: 3px 2px;
      border-radius: 2px;
}

.reset-game:hover {
      background: #2c3e52;
}

.scores {
  margin-bottom: 20px;
}